# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry
poetry.lock

# Database
*.db
file::memory:*

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Secrets
secrets/

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Ignore compiled files
*.so

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore templates cache (if any)
*.pyc

# Ignore build artifacts
build/
dist/
*.egg-info/