<div style="font-family: Arial, sans-serif; color: #000000;">

  <p>Hello {{UserFullName}},</p>

  <p>Welcome to <strong>Vietnam Hearts</strong>! ❤️🇻🇳</p>

  <p>We have reviewed your application and would like to give you the next steps!</p>

  <p><strong>Your Next Steps:</strong></p>
  <ol>
    <li>
      Join our <strong>Facebook Messenger Chat</strong> (used for general communication, but it can be a bit disorganized), if it fails go to step 2 and ask for help → 
      <a href="{{ INVITE_LINK_FACEBOOK_MESSENGER }}" target="_blank">Join Facebook chat</a>
    </li>
    <li>
      Join our <strong>Discord</strong> → 
      <a href="{{ INVITE_LINK_DISCORD }}" target="_blank">Join Discord</a> and ask to be added to Facebook chat.
    </li>
    <li>
      Read our <strong>Onboarding Information</strong> before your first class → 
      <a href="{{ ONBOARDING_GUIDE_LINK }}" target="_blank">
        Read our onboarding guide here!
      </a>
    </li>
    <li>
      Sign up for teaching as a <strong>Teacher or TA</strong> on any open slot. Unless you have teaching experience before, we recommend you sign up as TA first. → 
      <a href="{{ SCHEDULE_SHEETS_LINK }}" target="_blank">
        Volunteer Schedule Sheet
      </a>
    </li>
    <li>
      Send a message in the <strong>#general</strong> channel on Discord introducing yourself and letting us know which day you'll be teaching! This helps us get to know you and prepare for your first day.
    </li>
    <li>
      If you haven't already, follow our socials! →<br>
      📸 <a href="{{ INSTAGRAM_LINK }}" target="_blank">Instagram</a><br>
      👍 <a href="{{ FACEBOOK_PAGE_LINK }}" target="_blank">Facebook</a>
    </li>
  </ol>

  <p><strong>Important Note About Our Teaching Location:</strong><br>
  We work with a school in <strong>Binh Thanh, Ho Chi Minh City</strong>, serving underserved communities and children. 
  <strong>For safety reasons, we keep the school's exact location private until a person has signed up for a slot on the schedule</strong>
  Once you're done with the onboarding steps, just <strong>ask in our <a href="{{ INVITE_LINK_DISCORD }}" target="_blank">Discord Group Chat</a></strong> for the location and the day you will come in.</p>

  <p><strong>Have more questions, or looking to get more involved? 👀</strong><br>
  Drop us a message in Discord, we'd love to talk!

  <p>Thanks so much for signing up, we are looking forward to meeting you!</p>

  <p>Love without limit,<br><strong>Vietnam Hearts</strong></p>

  <p style="font-size: 12px; color: gray; margin-top: 30px;">
    <a href="{{ EMAIL_PREFERENCES_LINK }}" target="_blank">Manage your email preferences</a>
  </p>

</div>
